@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,600;1,700;&display=swap');

:root {
    --primary-color: #4c51bf;
    --secondary-color: #7f9cf5;
    --gray-primary-color: #e2e8f0;
    --gray-secondary-color: #4a5568;
}

body {
    background-color: var(--gray-primary-color) !important;
}

.bg-primary {
    background-color: var(--gray-primary-color) !important;
}

.bg-secondary {
    background-color: var(--gray-secondary-color) !important;
}

.bg-primary-color {
    background-color: var(--primary-color) !important;
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.text-primary-color {
    color: var(--primary-color) !important;
}

.text-primary {
    color: var(--gray-primary-color) !important;
}

.text-secondary {
    color: var(--gray-secondary-color) !important;
}

* {
    font-family: 'Bitter', serif;
    font-weight: 400 !important;
}

h1 {
    font-weight: 700 !important;
}

h3 {
    font-weight: 500 !important;
}

p {
    font-weight: 500 !important;
    color: #282c34;
}

/* custom bootstrap */
.accordion-button {
    /*padding:0px;*/
    background: var(--gray-primary-color);
}

.icon-accordion {
    width: 30px;
    color: var(--primary-color);
}

.accordion-title h4 {
    font-weight: 600 !important;
}

.accordion-title p {
    font-size: small;
    font-weight: 500 !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: var(--primary-color);
}

.accordion-button:not(.collapsed) {
    background: none;
}

.accordion-button:not(.collapsed)::after {
    color: var(--primary-color);
    fill: var(--primary-color);
}

.accordion-item {
    background: rgba(0, 0, 0, 0.05);
    border: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('asstes/imgs/arrow-collpase.svg');

}

/* custom antd */

.ant-progress-success-bg, .ant-progress-bg {
    background: none;
}


/* custom footer */

.footer-16371 {
    padding: 3rem 0 1rem 0;
    background-color: #cbd5e0;
    /*background-color: var(--primary-color);*/
}

.footer-16371 .footer-site-logo a {
    text-align: center !important;
    /*color: #efefef;*/
    color: var(--primary-color) !important;
    font-size: 2rem !important;
    font-weight: 900 !important;
}

.footer-16371 .social-icons li {
    display: inline-block !important;
}

.footer-16371 .social-icons li a {
    display: inline-block !important;
    position: relative !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.footer-16371 .social h3 {
    font-weight: bold !important;
    font-size: 18px;
    color: #282c34;
    margin-bottom: 8px;
}

.footer-16371 .social ul li {
    display: inline-block;
}

.footer-16371 .social .list-unstyled .tw a {
    color: #00a0fb;
}

.footer-16371 .social .list-unstyled li a .span-logo {
    width: 20px!important;
    height: 24px!important;
}

.footer-16371 .social .list-unstyled .in a:hover {
    color: #c31574!important;
}

.footer-16371 .social .list-unstyled .fb a:hover {
    color: #3b579b!important;
}

.footer-16371 .social .list-unstyled .yt a:hover {
    color: #fa2614!important;
}

.footer-16371 .social .list-unstyled .li a:hover {
    color: #007BB6!important;
}

.footer-16371 .social li a {
    color: var(--primary-color) !important;
}

.footer-16371 .nav-links li {
    display: inline-block !important;
}

.footer-16371 .nav-links li a {
    font-size: 14px;
    color: #282c34;
    padding: 10px;
}

.footer-16371 .nav-links li a:hover {
    color: var(--primary-color);
}

.footer-16371 .nav-links.nav-right li:last-child a {
    padding-right: 0 !important;
}

/* Custom antd tabs*/
.ant-tabs-tab-active div span h4 {
    color: var(--primary-color);
}

.ant-tabs-ink-bar {
    background-color: var(--primary-color) !important;
}

.ant-tabs-top > .ant-tabs-nav::before {
    border: none !important;
}

/* Custom Qualifications */
.qualification__tabs {
    display: flex !important;
    justify-content: space-evenly;
}

.qualification__data {
    display: grid;
    grid-gap: 0.3rem;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
}

