@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,600;1,700;&display=swap');

:root {
    --primary-color: #4c51bf;
    --secondary-color: #7f9cf5;
    --gray-primary-color: #e2e8f0;
    --gray-secondary-color: #4a5568;
}

body {
    background-color: var(--gray-primary-color) !important;
}

.bg-primary {
    background-color: var(--gray-primary-color) !important;
}

.bg-secondary {
    background-color: var(--gray-secondary-color) !important;
}

.bg-primary-color {
    background-color: var(--primary-color) !important;
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.text-primary-color {
    color: var(--primary-color) !important;
}

.text-primary {
    color: var(--gray-primary-color) !important;
}

.text-secondary {
    color: var(--gray-secondary-color) !important;
}

* {
    font-family: 'Bitter', serif;
    font-weight: 400 !important;
}

h1 {
    font-weight: 700 !important;
}

h3 {
    font-weight: 500 !important;
}

p {
    font-weight: 500 !important;
    color: #282c34;
}

/* custom bootstrap */
.accordion-button {
    /*padding:0px;*/
    background: var(--gray-primary-color);
}

.icon-accordion {
    width: 30px;
    color: var(--primary-color);
}

.accordion-title h4 {
    font-weight: 600 !important;
}

.accordion-title p {
    font-size: small;
    font-weight: 500 !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: var(--primary-color);
}

.accordion-button:not(.collapsed) {
    background: none;
}

.accordion-button:not(.collapsed)::after {
    color: var(--primary-color);
    fill: var(--primary-color);
}

.accordion-item {
    background: rgba(0, 0, 0, 0.05);
    border: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('asstes/imgs/arrow-collpase.svg');

}

/* custom antd */

.ant-progress-success-bg, .ant-progress-bg {
    background: none;
}


/* custom footer */
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none !important;
    color: black !important;
}

.content {
    height: 70vh;
}

.footer-59391 {
    border-top: 1px solid #efefef;
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    padding: 25px 0;
}

.footer-59391 .site-logo {
    color: #efefef;
}

.footer-59391 .site-logo a {
    font-size: 30px;
    color: #efefef;
    font-weight: 900;
}

.footer-59391 .social-icons li {
    display: inline-block !important;
}

.footer-59391 .social-icons li a {
    display: inline-block !important;
    position: relative !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.footer-59391 .social-icons li a.dr {
    background: #ff2e6e;
}

.footer-59391 .social-icons li a.be {
    background: #394cff;
}

.footer-59391 .social-icons li a.tw {
    background: #00a0fb;
}

.footer-59391 .social-icons li a.in {
    background: #c31574;
}

.footer-59391 .social-icons li a.fb {
    background: #3b579b;
}

.footer-59391 .social-icons li a.yt {
    background: #fa2614;
}

.footer-59391 .social-icons li a .span-logo {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    color: #efefef !important;
}

.footer-59391 .social-icons li a .span-logo:hover {
    color: var(--primary-color) !important;
}

.footer-59391 .nav-links li {
    display: inline-block !important;
}

.footer-59391 .nav-links li a {
    font-size: 14px;
    color: #efefef;
    padding: 10px;
}

@media (max-width: 1199.98px) {
    .footer-59391 .nav-links.nav-left li:first-child a {
        padding-left: 0 !important;
    }
}

.footer-59391 .nav-links.nav-right li:last-child a {
    padding-right: 0 !important;
}

@media (max-width: 1199.98px) {
    .footer-59391 .nav-links.nav-right li:first-child a {
        padding-left: 0 !important;
    }
}

.footer-59391 .copyright {
    border-top: 1px solid #efefef;
    padding-top: 25px;
    text-align: center;
    color: white;
}

.footer-59391 .copyright p small {
    color: #efefef;
}
